<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/lisa/patientdsl/PatientDsl"
			class = "org.xtext.lisa.patientdsl.patientDsl.PatientDslPackage"
			genModel = "model/generated/PatientDsl.genmodel" />
	</extension>
</plugin>
